.populares{
    padding: 3rem 0;
}

.populares__conteudo{
    display: flex;
    flex-wrap: wrap;
}

.populares__card{
    background-color: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card_imagem"
        "card_corpo";
    grid-template-columns: 100%;
    
   
}

.populares__card:last-child{
    margin-right: 0;
}

.populares__titulo{
    font-weight: 500;
}

.populares__icone{
    margin-right: .25rem;
}

.populares__cabecalho{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dcdcdc;
    margin: 1rem 0;
}

.populares__botao{
    background: transparent;
    border: none;
    color: #333;
}

.populares__card___imagem{
    grid-area: card_imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo{
    grid-area: card_corpo;
    padding: .75rem;
    display: grid;
    grid-template-areas: 
        "card_cabecalho"
        "card_conteudo";
    grid-template-rows: 50px auto;
    grid-row-gap: .5rem;
}

.populares__card___titulo{
    grid-area: card_cabecalho;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    line-height: 1.5;
}

.populares__card___data{
    color: #808080;
    font-size: .9rem;
}

.populares__card___descricao{
    grid-area: card_conteudo;
    color: #333;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
}